In [1]:
#Cargamos librerías principales

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Cargamos el modelo

import pickle
filename = 'modelo-reg-tree-knn-nn.pkl'
#filename = 'modelo-reg-tree.pkl'
model_Tree,model_Knn, model_NN,variables, min_max_scaler = pickle.load(open(filename, 'rb')) #DT-Knn
#model_Tree,variables = pickle.load(open(filename, 'rb'))# DT
#model_Tree,variables = pickle.load(open(filename, 'rb')) #DT-Knn

In [3]:
#Cargamos los datos futuros

data = pd.read_csv("videojuegos-datosFuturos.csv", sep = ",")
data.head()

         videojuego  Edad    Sexo      Plataforma  Consumidor_habitual
0     'Mass Effect'    33  Hombre           Otros                False
1  'KOA: Reckoning'    30   Mujer              PC                 True
2      'Dead Space'    22  Hombre          'Xbox'                False
3          'Crysis'    17  Hombre  'Play Station'                False
4        'Sim City'    27   Mujer           Otros                 True

In [4]:
#Se realiza la preparación

data_preparada=data.copy()
data_preparada = pd.get_dummies(data_preparada, columns=['videojuego', 'Plataforma'], drop_first=False)
data_preparada = pd.get_dummies(data_preparada, columns=['Sexo', 'Consumidor_habitual'], drop_first=True)# se elimina una dummy porque solo tiene 2 categorias
data_preparada.head()

,Edad,videojuego_'Crysis',videojuego_'Dead Space',videojuego_'KOA: Reckoning',videojuego_'Mass Effect',videojuego_'Sim City',Plataforma_'Play Station',Plataforma_'Xbox',Plataforma_Otros,Plataforma_PC,Sexo_Mujer,Consumidor_habitual_True
0,33,False,False,False,True,False,False,False,True,False,False,False
1,30,False,False,True,False,False,False,False,False,True,True,True
2,22,False,True,False,False,False,False,True,False,False,False,False
3,17,True,False,False,False,False,True,False,False,False,False,False
4,27,False,False,False,False,True,False,False,True,False,True,True

In [5]:
#Se adicionan las columnas faltantes

data_preparada=data_preparada.reindex(columns=variables,fill_value=0)# Si falta una variable la crea y llena con ceros
data_preparada.head()

,Edad,videojuego_'Battlefield',videojuego_'Crysis',videojuego_'Dead Space',videojuego_'F1',videojuego_'Fifa',videojuego_'KOA: Reckoning',videojuego_'Mass Effect',videojuego_'Sim City',Plataforma_'Play Station',Plataforma_'Xbox',Plataforma_Otros,Plataforma_PC,Sexo_Mujer,Consumidor_habitual_True
0,33,0,False,False,0,0,False,True,False,False,False,True,False,False,False
1,30,0,False,False,0,0,True,False,False,False,False,False,True,True,True
2,22,0,False,True,0,0,False,False,False,False,True,False,False,False,False
3,17,0,True,False,0,0,False,False,False,True,False,False,False,False,False
4,27,0,False,False,0,0,False,False,True,False,False,True,False,True,True

In [6]:
#Hacemos la predicción

Y_Tree = model_Tree.predict(data_preparada)

print(Y_Tree)

[ 20. 100. 200. 300. 600.]

In [7]:
data['Prediccion_Tree']=Y_Tree

data

,videojuego,Edad,Sexo,Plataforma,Consumidor_habitual,Prediccion_Tree
0,'Mass Effect',33,Hombre,Otros,False,20.0
1,'KOA: Reckoning',30,Mujer,PC,True,100.0
2,'Dead Space',22,Hombre,'Xbox',False,200.0
3,'Crysis',17,Hombre,'Play Station',False,300.0
4,'Sim City',27,Mujer,Otros,True,600.0

In [8]:
#Se normaliza la edad
data_preparada[['Edad']]= min_max_scaler.transform(data_preparada[['Edad']])
data_preparada

,Edad,videojuego_'Battlefield',videojuego_'Crysis',videojuego_'Dead Space',videojuego_'F1',videojuego_'Fifa',videojuego_'KOA: Reckoning',videojuego_'Mass Effect',videojuego_'Sim City',Plataforma_'Play Station',Plataforma_'Xbox',Plataforma_Otros,Plataforma_PC,Sexo_Mujer,Consumidor_habitual_True
0,0.500000,0,False,False,0,0,False,True,False,False,False,True,False,False,False
1,0.421053,0,False,False,0,0,True,False,False,False,False,False,True,True,True
2,0.210526,0,False,True,0,0,False,False,False,False,True,False,False,False,False
3,0.078947,0,True,False,0,0,False,False,False,True,False,False,False,False,False
4,0.342105,0,False,False,0,0,False,False,True,False,False,True,False,True,True

In [9]:
#Hacemos la predicción
Y_Knn = model_Knn.predict(data_preparada)
data['Prediccion_Knn']=Y_Knn
data

,videojuego,Edad,Sexo,Plataforma,Consumidor_habitual,Prediccion_Tree,Prediccion_Knn
0,'Mass Effect',33,Hombre,Otros,False,20.0,30.0
1,'KOA: Reckoning',30,Mujer,PC,True,100.0,100.0
2,'Dead Space',22,Hombre,'Xbox',False,200.0,200.0
3,'Crysis',17,Hombre,'Play Station',False,300.0,300.0
4,'Sim City',27,Mujer,Otros,True,600.0,600.0

In [10]:
#Hacemos la predicción

Y_NN = model_NN.predict(data_preparada)
data['Prediccion_NN']=Y_NN
data

,videojuego,Edad,Sexo,Plataforma,Consumidor_habitual,Prediccion_Tree,Prediccion_Knn,Prediccion_NN
0,'Mass Effect',33,Hombre,Otros,False,20.0,30.0,18.596119
1,'KOA: Reckoning',30,Mujer,PC,True,100.0,100.0,104.299507
2,'Dead Space',22,Hombre,'Xbox',False,200.0,200.0,199.985139
3,'Crysis',17,Hombre,'Play Station',False,300.0,300.0,298.038990
4,'Sim City',27,Mujer,Otros,True,600.0,600.0,600.499960